block content
  - if ( message ) {
        p= message
  - }
    div
        form(method="POST", action="/login")
            span
                label(for="email") Email:
                input#email(name="email")
            span
                label(for="password") Password:
                input#password(name="password", type="password")
            span
                input#login(type="submit", value="Login")
