h1 New User

form(method="POST", action="/kittens")
    p
        label(for="name") Name<br />
        input#name(name="name")
    p
        label(for="colour") Colour<br />
        input#colour(name="colour")
    p
        input(type="submit", value="Create")